.fon img {
    height: 150px;
    width: 100%
}

.ava img {
    width: 150px
}

.status {
    margin: 10px;
    border: 3px dotted  black;
    font-size: 24px;
    font-style: italic;
    display:inline-block ;
}
